name: Build APK

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    
    - name: Set up Flutter
      uses: subosito/flutter-action@v2
      with:
        channel: 'stable'
        
    - name: Install dependencies
      run: flutter pub get
      
    - name: Build APK release
      run: flutter build apk --release
      
    - name: Upload Artifact
      uses: actions/upload-artifact@v3
      with:
        name: smartcrop-apk
        path: build/app/outputs/flutter-apk/app-release.apk
